**Dean Loeafoe - Upload Assignment: Uploading and Processing Data and List Comprehension**

In [34]:
#Import necessary libraries for future use
import numpy as np
import pandas as pd

In [114]:
#1) Upload the data to github. 
df = pd.read_csv("https://raw.githubusercontent.com/espio11/Data-Analytics-Summer-2022/main/cars-sample35.txt" ,header=None)
df.head()

       0     1  2     3      4     5      6
0   high  high  2     4    med   low  unacc
1   high  high  4  more  small  high    acc
2   high  high  4  more    big   low  unacc
3   high   low  2  more    big  high    acc
4  vhigh   low  3     2    med   med  unacc

In [86]:
#1) Upload the data to python using Pandas and give it headers.

df.columns = ['Price',
             'Maintenance Cost',
             'Number of Doors',
             'Number of Passengers',
             'Luggage Capacity',
             'Safety Rating',
             'Classification of Vehicle']

df.head()

,Price,Maintenance Cost,Number of Doors,Number of Passengers,Luggage Capacity,Safety Rating,Classification of Vehicle
0,high,high,2,4,med,low,unacc
1,high,high,4,more,small,high,acc
2,high,high,4,more,big,low,unacc
3,high,low,2,more,big,high,acc
4,vhigh,low,3,2,med,med,unacc

In [84]:
#2) Extract these seven attributes from each line of the file and create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. 
#In other words, you should have lists of prices, maintenance costs, number of doors, etc.

In [94]:
#List of Price values

price_list = df["Price"]
print(price_list)

0      high
1      high
2      high
3      high
4     vhigh
5       low
6       med
7       low
8     vhigh
9     vhigh
10      low
11    vhigh
12     high
13      low
14     high
15    vhigh
16      med
17     high
18      low
19      low
20      med
21      low
22    vhigh
23      med
24      low
25    vhigh
26      med
27     high
28      low
29      med
30     high
31     high
32      low
33    vhigh
34     high
Name: Price, dtype: object

In [95]:
#List of Maintenance Cost values

maintenance_cost_list = df["Maintenance Cost"]
print(maintenance_cost_list)

0      high
1      high
2      high
3       low
4       low
5      high
6       med
7       low
8       low
9      high
10      low
11      low
12      low
13    vhigh
14      low
15     high
16      med
17      low
18      low
19      low
20     high
21      low
22     high
23    vhigh
24    vhigh
25      low
26    vhigh
27     high
28     high
29     high
30      low
31    vhigh
32      low
33    vhigh
34      low
Name: Maintenance Cost, dtype: object

In [96]:
#List of Number of Doors values

number_of_doors_list = df["Number of Doors"]
print(number_of_doors_list)

0         2
1         4
2         4
3         2
4         3
5         2
6         4
7         3
8         2
9         4
10        2
11        4
12        2
13        3
14    5more
15        2
16        2
17    5more
18        3
19        2
20        4
21        2
22    5more
23        2
24        4
25        3
26        3
27        3
28    5more
29    5more
30        3
31    5more
32    5more
33        4
34        3
Name: Number of Doors, dtype: object

In [97]:
#List of Number of Passengers values

number_of_passengers_list = df["Number of Passengers"]
print(number_of_passengers_list)

0        4
1     more
2     more
3     more
4        2
5        2
6     more
7        2
8        2
9        4
10       2
11    more
12       4
13    more
14       2
15    more
16       2
17       4
18    more
19       2
20       2
21       2
22       4
23       2
24       4
25    more
26       4
27       4
28       2
29       2
30       4
31       4
32       2
33       2
34       2
Name: Number of Passengers, dtype: object

In [99]:
#List of Luggage Capacity values

luggage_capacity_list = df["Luggage Capacity"]
print(luggage_capacity_list)

0       med
1     small
2       big
3       big
4       med
5     small
6       med
7       big
8     small
9       med
10      med
11    small
12      big
13      big
14      big
15      med
16    small
17      med
18      med
19      big
20      big
21    small
22      med
23      big
24      big
25      big
26    small
27      med
28      big
29      med
30      med
31      med
32      med
33      big
34      big
Name: Luggage Capacity, dtype: object

In [100]:
#List of Safety Rating values

safety_rating_list = df["Safety Rating"]
print(safety_rating_list)

0      low
1     high
2      low
3     high
4      med
5      low
6     high
7      med
8      low
9      low
10     med
11    high
12     med
13     low
14     med
15    high
16     low
17    high
18    high
19     med
20    high
21    high
22     med
23     low
24     low
25     low
26     low
27     med
28     low
29     med
30    high
31     med
32     low
33    high
34    high
Name: Safety Rating, dtype: object

In [101]:
#List of Classification of Vehicle values

classification_of_vehicle_list = df["Classification of Vehicle"]
print(classification_of_vehicle_list)

0     unacc
1       acc
2     unacc
3       acc
4     unacc
5     unacc
6     vgood
7     unacc
8     unacc
9     unacc
10    unacc
11      acc
12      acc
13    unacc
14    unacc
15    unacc
16    unacc
17      acc
18    vgood
19    unacc
20    unacc
21    unacc
22    unacc
23    unacc
24    unacc
25    unacc
26    unacc
27    unacc
28    unacc
29    unacc
30      acc
31    unacc
32    unacc
33    unacc
34    unacc
Name: Classification of Vehicle, dtype: object

In [104]:
#3) Find the list index values of each automobile having a “price” rating of "med". Create a new list object with your result. 
# HINT: you can accomplish this task by searching the list of price values you created earlier. Be sure to print your results.

q3_list = []
for i in range(len(price_list)):
  if price_list[i] == "med":
    q3_list.append(i)

print(q3_list)

[6, 16, 20, 23, 26, 29]

In [105]:
#4) Find the "number of passengers" value for each auto having a "price" value of "med". Create a new list to store your findings and be sure to print your results.

q4_list = []
for i in range(len(q3_list)):
  q4_list.append(number_of_passengers_list[q3_list[i]])

print(q4_list)

['more', '2', '2', '2', '4', '2']

In [108]:
#5) Find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

q5_list = []
for i in range(35):
  if price_list[i] == "high" and maintenance_cost_list[i] != "low":
    q5_list.append(i)

print(q5_list)

[0, 1, 2, 27, 31]

In [109]:
#6) Find the list index values of each automobile having a price rating of "med" using a list comprehension instead of a basic for or while loop. 
# The list comprehension should create a new list containing your result. Be sure to print your results to the screen.

q6_list = [i for i in range(len(price_list)) if price_list[i] == "med"]
print(q6_list)

[6, 16, 20, 23, 26, 29]

In [112]:
#7) Find the "number of passengers" value for each auto having a "price" value of "med" using a list comprehension instead of a basic for or while loop. 
# The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

q7_list = [number_of_passengers_list[i] for i in range(len(price_list)) if price_list[i] == "med"]
print(q7_list)

['more', '2', '2', '2', '4', '2']

In [115]:
#8) Find the index value for each automobile having a price value of "high" and a maintenance value that is not "low" using a list comprehension. 
# The list comprehension should create a new list containing your findings. Be sure to print your results to the screen.

q8_list = [i for i in range(35) if price_list[i] == "high" and maintenance_cost_list[i] != "low"]
print(q8_list)

[0, 1, 2, 27, 31]

In [122]:
#9) Nested List Comprehension (no file needed):
# Consider the following list of lists: nlist = [ [1, 2, 3], [‘A’, ‘B’, ‘C’], [4, 5], [‘D’, ‘E’] ]. 
# Extract each individual element of the component lists contained within nlist and add them to a new list.  Do NOT use a nested for loop, use a list comprehension.

nlist = [ [1, 2, 3], [6, 7, 8], [4, 5], [9, 10] ]
q9_list = [x for y in nlist for x in y]
print(q9_list)

[1, 2, 3, 6, 7, 8, 4, 5, 9, 10]